{% extends "base.html" %}

{% block content %}
    {% if error %}
        <h2 style="color: red;">{{ error }}</h2><br>
    {% endif %}
    <form method="POST" action="{% url 'accounts:login' %}" name="login">
        {% csrf_token %}
        <label for="username">Email/Username: </label>
        <input type="text" name="username" required><br><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required><br><br>
        <button class="btn btn-success ml-2" type="submit" for="login">Login</button>
    </form>
{% endblock content %}