{% extends "base.html" %}

{% block content %}
    name: {{name}}<br>
    username: {{username}}<br>
    email: {{email}}<br>
    date of birth: {{dob}}<br><br><br>
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">
                Submissions:
            </span> &middot;
        </div>
        <div class="card-body">
            {% for s in submissions %}
            <div>
                <span class="font-weight-bold">
                    Quiz: <a href="{% url 'quizzes:quiz_detail' s.quiz.category.category s.quiz.id %}">{{s.quiz.title}}</a>
                    &emsp; | &emsp; Score: {{s.get_total_score}} 
                    &emsp; | &emsp; When: {{s.start_time}}
                    &emsp; | &emsp; Submission: <a href="{% url 'quizzes:quiz_result' s.quiz.category.category s.quiz.id s.id %}">{{s.id}}</a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div> 
{% endblock content %}