{% extends "base.html" %}

{% block content %}
    name: {{name}}<br>
    username: {{username}}<br>
    email: {{email}}<br>
    date of birth: {{dob}}<br><br><br>
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">
                Submissions:
            </span> &middot;
        </div>
        <div class="card-body">
            <table>
                <tr>
                    <th>Quiz</th>
                    <th>&emsp; | &emsp; Score</th>
                    <th>&emsp; | &emsp; When</th>
                    <th>&emsp; | &emsp; Submission</th>
                </tr>
                <tr>
                    <td>_____</td>
                    <td>&emsp; | &emsp;_____</td>
                    <td>&emsp; | &emsp;_____</td>
                    <td>&emsp; | &emsp;_____</td>
                </tr>
                {% for s in submissions %}
                <div>
                    <tr>
                        <td>
                            <span class="font-weight-bold">
                                <a href="{% url 'quizzes:quiz_detail' s.quiz.category.category s.quiz.id %}">{{s.quiz.title}}</a>
                            </span>
                        </td>
                        <td>
                            <span>
                                &emsp; | &emsp; {{s.get_total_score}} 
                            </span>
                        </td>
                        <td>
                            <span>
                                &emsp; | &emsp; {{s.start_time}}
                            </span>
                        </td>
                        <td>
                            <span>
                                &emsp; | &emsp; <a href="{% url 'quizzes:quiz_result' s.quiz.category.category s.quiz.id s.id %}">{{s.id}}</a>
                            </span>
                        </td>
                    </tr>
                </div>
                {% endfor %}
            </table>
        </div>
    </div> 
{% endblock content %}