{% extends "base.html" %}
{% block content %}
<style>
    .quetion-form{
        border-bottom: 1px solid black;
    }
    .hidden{
        display: none
    }
</style>
    {% if message %}
        <h2>{{message}}</h2>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ quiz_form.as_p }}
        {% if formset %}
            <h3>Questions</h3>
            <div id='questions-form-list'>
                {{formset.management_form}}
                {% for form in formset %}
                 <div class='quetions-form'>
                    {{ form.as_p }}
                 </div>
                 {% endfor %}
            </div>
             <div id='empty-form' class='hidden' >{{formset.empty_form.as_p}}</div>
            <button id='add-more-question' class="btn btn-outline-success ml-2"  type='button'>AddQuetion</button>
        {% endif %}
       
        <button class="btn btn-success ml-2" type="submit">save</button>
    </form>
<script>
    const addMoreQuestion=document.getElementById('add-more-question')
    const totalNewFroms=document.getElementById('id_Quiz_questions-TOTAL_FORMS')
    addMoreQuestion.addEventListener('click',add_new_question)

    function add_new_question(event){
        if(event){
            event.preventDefault()
        }

        const currentQuestionFroms=document.getElementsByClassName('quetions-form')
        const currentFormCount=currentQuestionFroms.length
        const formCopyTarget=document.getElementById('questions-form-list')
        const copyEmptyQuestionFormEl=document.getElementById('empty-form').cloneNode(true)
        copyEmptyQuestionFormEl.setAttribute('class','quetions-form')
        copyEmptyQuestionFormEl.setAttribute('id',`form-${currentFormCount}`)
        const regex=new RegExp('__prefix__','g')
        copyEmptyQuestionFormEl.innerHTML=copyEmptyQuestionFormEl.innerHTML.replace(regex,currentFormCount)
        totalNewFroms.setAttribute('value',currentFormCount+1)
        formCopyTarget.append(copyEmptyQuestionFormEl)
    }


</script>


{% endblock content %}