{% extends "base.html" %}

{% block content %}
    <h4>{{ quiz.title }}</h4><br>
    <form action="{% url 'quizzes:quiz_result' quiz.category.category quiz.id %}" name="quiz">
    {% for q in quiz.questions.all %}
        <ol>
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">
                        {{ q.question }}
                    </span> &middot;
                </div>
                <div class="card-body">
                    {% for a in q.answers.all %}
                        <div>
                            <span class="font-weight-bold">
                                <input type="radio" name="{{ q.question }}" value="{{ a.answer }}">
                                <label for="{{ q.qestion }}">{{ a.answer }}</label>
                            </span>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </ol>
        <br>
    {% endfor %}
    <button class="btn btn-success ml-2" type="submit" for="quiz">Submit answers</button>
    </form>
{% endblock content %}