{% extends "base.html" %}

{% block content %}
    {% if error %}
        <h4 style="color:red;">{{ error }}</h4>
    {% else %}
        <h4>{{ quiz.title }}</h4><br>
        <span class="font-weight-bold">
            Started at: {{ start }} &emsp; | &emsp; Ends at: {{ end }}
        </span>
        <br><br>
        <form method="POST" action="{% url 'quizzes:quiz_detail' quiz.category.category quiz.id %}" name="quiz">
        {% csrf_token %}    
        {% for q in quiz.questions.all %}
            <ol>
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">
                            {{ q.question }}
                        </span> &middot;
                    </div>
                    <div class="card-body">
                        {% for a in q.answers.all %}
                            <div>
                                <span class="font-weight-bold">
                                    <input type="radio" name="{{ q.question }}" value="{{ a.answer }}" required>
                                    <label for="{{ q.qestion }}">{{ a.answer }}</label>
                                </span>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </ol>
            <br>
        {% endfor %}
        <button class="btn btn-success ml-2" type="submit" for="quiz">Submit answers</button>
        </form>
    {% endif %}
{% endblock content %}